{% extends "_shared/base.twig" %}

{% set data = craft.entries().slug('homepage').one() %}

{% block baseTitle %}{{ data.title }}{% endblock %}

{% block baseBody %}
    <div class="row mt-5">
        <div class="col-sm">

            <div class="jumbotron">
                <h1 class="display-4">{{ globalSet.websiteTitle }}</h1>
                <p class="lead">This is a simple craft cms demo site.</p>
                <hr class="my-4">
                <p>Here are a few playlists from my profile.</p>
                <a class="btn btn-primary btn-secondary btn-lg" href="/playlists" role="button">Show Playlists</a>
            </div>
        </div>
    </div>
{% endblock %}