{% extends "shared/base.twig" %}
{% block title %}
    Hello
{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-sm">

            <div class="jumbotron">
                <h1 class="display-4">{{ entry.slug }}</h1>
            </div>
        </div>
    </div>

{% endblock %}

