{% extends "_shared" %}
{% block title %}
    Hello
{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-sm">

            <div class="jumbotron">
                <h1 class="display-4">Welcome to playlist<strong>Box</strong>!</h1>
                <p class="lead">This is a simple craft cms demo site.</p>
                <hr class="my-4">
                <p>Here are a few playlists from my profile.</p>
                <a class="btn btn-primary btn-secondary btn-lg" href="/playlists" role="button">Show Playlists</a>
            </div>
        </div>
    </div>

{% endblock %}